/* Notice list component prototype */
ul.notice-list {
	--notice-list-transition: 300ms ease;
}

/* Notice list component prototype */
ul.notice-list {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;

	> li.notice-list-item {
		align-items: center;
		background-color: var(--border-bg-color);
		border-radius: var(--border-radius);
		color: var(--fg-color);
		display: flex;
		justify-content: space-between;
		margin-bottom: var(--block-margin);
		opacity: 1;
		padding: calc(var(--box-padding) * 0.5) calc(var(--box-padding) - 12px) calc(var(--box-padding) * 0.5) var(--box-padding);
		transform: translate3d(0, 0, 0);
		transition: opacity var(--notice-list-transition), transform var(--notice-list-transition);

		p {
			margin-bottom: 0;
		}

		button {
			align-items: center;
			background-color: transparent;
			border: none;
			color: color-mix(in srgb, var(--fg-color), var(--border-bg-color));
			cursor: pointer;
			display: flex;
			flex: 0 1 auto;
			height: 2rem;
			justify-content: center;
			margin-left: calc(var(--grid-gap) * 0.5);
			padding: 0;
			width: 2rem;

			body.no-touch &:hover {
				color: var(--fg-color);
			}
		}

		&.is-dismissing {
			opacity: 0;
			transform: translate3d(1rem, 0, 0);
		}

		&:last-child {
			margin-bottom: calc(var(--element-margin) * 0.5);
		}
	}
}

/* Notice list component extensions */
ul.notice-list {

	> li.notice-list-item {

		&.notice-list-item--error {
			--border-bg-color: var(--error-bg-color);
			--fg-color: var(--error-fg-color);
		}

		&.notice-list-item--warning {
			--border-bg-color: var(--warning-bg-color);
			--fg-color: var(--warning-fg-color);
		}

		&.notice-list-item--success {
			--border-bg-color: var(--success-bg-color);
			--fg-color: var(--success-fg-color);
		}
	}
}