/* Side panel component variables */
aside.side-panel[popover] {
	--side-panel-toggle-transition: var(--toggle-transition);
}

/* Side panel component prototype */
aside.side-panel[popover]:popover-open {
	background-color: var(--bg-color);
	border: none;
	bottom: auto;
	box-shadow: var(--bold-box-shadow);
	height: 100%;
	left: auto;
	opacity: 1;
	padding: 0 var(--box-padding) var(--box-padding) var(--box-padding);
	right: 0;
	top: 0;
	transform: translate3d(0, 0, 0);
	transition: transform var(--side-panel-toggle-transition), opacity var(--side-panel-toggle-transition);
	width: 18rem;

	> h1, > h2, > h3, > h4, > h5, > h6, >.heading {
		font-size: var(--heading-3-font-size);
		line-height: var(--navbar-height);
		margin-bottom: 0;
	}

	div.side-panel-empty-state {
		color: var(--fg-light-color);
		margin-top: var(--element-margin);
		text-align: center;

		svg.icon {
			background-color: var(--border-bg-color);
			border-radius: 50%;
			height: 72px;
			margin-bottom: var(--block-margin);
			padding: 16px;
			width: 72px;
		}

		span.heading {
			font-size: var(--large-font-size);
		}

		p {
			margin-bottom: 0;
		}
	}

	> button.side-panel-close {
		align-items: center;
		background-color: transparent;
		border: none;
		color: inherit;
		cursor: pointer;
		display: flex;
		font-family: var(--nav-font-family);
		font-weight: var(--nav-font-weight);
		height: var(--navbar-height);
		letter-spacing: var(--nav-letter-spacing);
		line-height: var(--nav-line-height);
		padding: 0 var(--box-padding) 0 3rem;
		position: absolute;
		right: 0;
		text-align: left;
		top: 0;

		body.no-touch &:hover {
			color: var(--link-color);
		}
	}

	&::backdrop {
		backdrop-filter: blur(2px);
		background-color: var(--popover-backdrop-color);
	}

	&:before {
		background-color: var(--border-color);
		content: '';
		height: 1px;
		left: 0;
		position: absolute;
		top: var(--navbar-height);
		width: 100%;
	}

	@starting-style {
		opacity: 0;
		transform: translate3d(3rem, 0, 0);
	}
}

/* Side panel component extensions */
aside.side-panel[popover]:popover-open {
}